
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Merhaba, @Session["Id"], @Session["Role"]
@using (Html.BeginForm("Logout", "idari", FormMethod.Post))
{
    <input type="submit" value="Çıkış yap" />
}

Öğretmenin tez alan öğrencilerin tez notlarını girmeye ihtiyacı vardır.
#15 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin kendisinden tez alan öğrencilere görev girebilmeye ihtiyacı vardır.
#14 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin kendisinden tez alan öğrencilerin listesini görmeye ihtiyacı vardır.
#13 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin öğrenciye mesaj atmaya ihtiyacı vardır.
#12 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin duyuru yayınlamaya ihtiyacı vardır.
#11 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin vize,final,proje ağırlıklarını belirlemeye ihtiyacı vardır.
#10 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin açtığı dersler için kaynak bilgisi girmeye ihtiyacı vardır.
#9 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin yeni ders açma talebinde bulunmaya ihtiyacı vardır.
#8 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin danışmanı olduğu öğrencilerin bilgilerini görüntülemeye ihtiyacı vardır.
#7 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin kendi derslerine ait öğrencilerin listesini görüntülemeye ihtiyacı vardır.
#6 opened 7 days ago by melikeyurtoglu
<br />
 Ögretmen, öğrencinin devamsızlık bilgisini girmeye ihtiyacı vardır.
#5 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin bütünleme notu girmesine ihtiyaç vardır.
#4 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin final notu girmesine ihtiyaç vardır.
#3 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin vize notu girmesine ihtiyaç vardır.
#2 opened 7 days ago by melikeyurtoglu
<br />
 Öğretmenin giriş yapabilmesine ihtiyaç vardır.
#1 opened 7 days ago by melikeyurtoglu
<br />